<template name="voiceListen">
    <div class="vdiv">
        <header class="vheader">
            {{title}}
            <button class="test">测试</button>
        </header>

        <ul class="vul">
            {{#each listenTxt}}
            <li class="voiceListen">
                <button class="delete">&times;</button>
                <span class="text">{{ status }} ; </span> {{#if sayMessage}}
                <span class="text">{{ sayMessage }}</span> {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
</template>